<?xml version="1.0" encoding="utf-8" ?>
<appSettings file="appSettings.config" >
  <!-- Here are list of appsettings -->
  <add name="macc.Properties.Settings.macdbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\DeveloperM\Projects\macc\macc\db\macdb.accdb"
      providerName="System.Data.OleDb" />
</appSettings>